<h1>Gossip#home</h1>
<p>Find me in app/views/gossip/home.html.erb</p>
<h2>BONJOUR Les Potins BONJOUR !!!</h2>

<%= @gossips.each do |gossip| %>

<ul class="list-group">
  <li class="list-group-item">
  <div class="fw-bold"><a href="<%=home_path%>/<%=gossip.id%>"><%= gossip.title%></a></div>
  potin de : <%= User.find(gossip.user_id).first_name%>
  </li>
</ul>
<% end %>
