<h1>Gossip#show</h1>
<p>Find me in app/views/gossip/show.html.erb</p>

<h3> Titre :  <%= @gossip.title%> </h3> 
<div class="card mx-auto mt-3" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= @gossip.title%></h5>
    <a href="<%= home_path %>">
      <h6 class="card-subtitle mb-2 text-decoration-none">
      <%= @user.first_name %> 
      <%= @user.last_name %>
      </h6>
    </a>
    <p class="card-text"><%= @gossip.content%></p>
     <p class="card-text"><small class="text-muted"><%= time_ago_in_words(@gossip.created_at)%> ago.</small></p>
  </div>
</div>