<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<div class="container row">
    <h5 ><%= @user.first_name %> <%= @user.last_name %></h5>
    <h6 class=" mb-2 text-muted"><%= @user.email %> </h6>
    <p><%= @user.description %></p>
    <p>
      <a href="<%=cities_show_path(@user.city.id)%>" class="btn btn-primary"> <%= @user.city.name%> </a>
    </p>
</div>