<h1>Gossip#home</h1>

<%= puts  "44444444444444444444444444444444444444444444444"
puts params%>
<% if params[:current_user] %>
 <div class="alert alert-success">
<h2>Bienvenue <%= current_user.first_name %> !</h2>
</div>
<% end %>

<h2 >Les Potins du jour ... en latin</h2>
<a href="<%=gossips_path%>/new" class="btn btn-dark "> CREER UN NOUVEAU POTIN </a>
<div class="container row">
  <% @gossips.each do |gossip| %>
      <div class="card  my-2 mx-auto" style="width: 15rem;">
        <div class="card-body">
          <h5 class="card-title"><a class="text-decoration-none" href="<%=gossip_path(gossip.id)%>"><%= gossip.title%></a></h5>
          <p class="card-text">textum scripsit : <%= User.find(gossip.user_id).first_name%></p>
          <p class="card-text"><small class="text-success"> <%= gossip.user.city.name%></small></p> 

        </div>
      </div>
     
  <% end %>
</div>


